
# Ignore everything in the repository root
/*

# But allow the chrome folder and everything under it
!/chrome/
!/chrome/**

# Keep this .gitignore tracked
!/.gitignore

# Allow docker-compose.yml in the docker folder
!/docker/docker-compose.yml

# Allow documentation files
!/README.md
!/REQUIREMENTS.md
!/HELP.md
!/ARCHITECTURE.md
!/COPYING.txt

# End of file
out/

